{% extends 'base.html.twig' %}

{% block title %}UrLite{% endblock %}

{% block body %}
    <div class="form-container">
        <h1 class="form-title">Simplifica tus URLs</h1>

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.originalUrl) }}
            <div class="{% if form_errors(form.originalUrl) %}has-error{% endif %}">
                {{ form_widget(form.originalUrl, {'attr': {'class': 'utl-input'}}) }}
            </div>
            <div class="error">{{ form_errors(form.originalUrl) }}</div>
        </div>

        <button type="submit" class="btn">Simplificar</button>

        {{ form_end(form) }}
    </div>
{% endblock %}