<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header class="header">
        <nav class="navbar">
            <a href="{{ path('app_main') }}" class="navbar-logo">
                <img src="{{ asset('images/UrLite_logo.png') }}" alt="UrLite Logo">
            </a>
            <ul class="navbar-nav" id="navbarNav">
                <li class="nav-item">
                    <a href="#" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Características</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Precios</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Login</a>
                </li>
            </ul>
            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>

    {% block body %}{% endblock %}
    
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-content">
                <div class="copyright">
                    &copy; {{ "now"|date("Y") }} UrLite. Todos los derechos reservados.
                    &copy; {{ "now"|date("Y") }} UrLite. Todos los derechos reservados.
                </div>
                <div class="policy-links">
                    <a href="#">Política de Privacidad</a>
                    <a href="#">Política de Cookies</a>
                    <a href="#">Condiciones de Uso</a>
                </div>
            </div>
        </div>
    </footer>
    </body>
</html>
